.purple-background {
  background-color: #7f67be;
}

.align-self {
  align-self: center;
}

.align-items {
  align-items: center;
}

.search-height {
  border: none;
  background-color: #aaacdc;
  font-size: 1.3rem;
}

.form-styles {
  color: white;
}

::placeholder {
  color: white;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
}

.btn {
  background-color: #a781cc;
}

.font-patrick {
  font-family: "Patrick Hand SC", cursive;
  text-decoration: none;
}

option {
  font-family: Quicksand, sans-serif;
  white-space: wrap;
}

.justify-content-right {
  justify-content: right;
}

.next {
  font-family: Quicksand, sans-serif;
  font-weight: bolder;
  font-size: 1.3rem;
}

.pet-info {
  font-family: Quicksand, sans-serif;
  background-color: #ebdefc;
  color: black;
  border: #8f27c0 solid 3px;
  border-radius: 10px;
}

select {
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  font-size: 5rem;
  overflow-block: inherit;
}

.pl-2 {
  padding-left: 1rem;
}

.find-friend {
  font-size: 2rem;
}

.pet-img {
  object-fit: cover;
}

.mt-10 {
  margin-top: 6rem;
}

.img-fluid {
  border-radius: 10px;
  margin-bottom: 0;
}

p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card {
  border: none;
}

.title-nav {
  font-size: 2rem;
}

.justify-content {
  justify-content: center;
}

.pet-title {
  font-size: 2rem;
}

.font-quicksand {
  font-family: Quicksand, sans-serif;
}

.offcanvas.offcanvas-start {
  background-color: #ebdefc;
  border: #8f27c0 solid 5px;
}

.text-align-center {
  text-align: center;
}

.bg-pink {
  background-color: #ebdefc;
}

.border-purple {
  border: #8f27c0 solid 4px;
  border-radius: 10px;
}

.fa-bars {
  font-size: 2rem;
}

.card-img-top {
  border-radius: 10px;
}

.card-text.text-saved,
.sign-in-text {
  font-size: 1rem;
  font-weight: bold;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.your-pets-title {
  font-weight: bolder;
}

.text-center-mob {
  text-align: center;
}

.card-text.details-text {
  font-size: 1.4rem;
}

.fa-heart {
  color: #aa8ed6;
  font-size: 3rem;
}

.bg-lavander {
  background-color: #aaacdc;
}

input::placeholder {
  color: white;
  opacity: 1;
}

.underline-dark {
  color: black;
}

.sign-up {
  font-size: 2.5rem;
}

.username-input,
.password-input, {
  font-size: 1.3rem;
}

.btn-lg {
  font-size: 1rem;
}

.fa-user-plus,
.fa-right-to-bracket {
  font-size: 2.3rem;
}

.sign-out {
  cursor: pointer;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@media screen and (min-width: 768px) {
  .title-nav,
  .find-friend {
    font-size: 3rem;
  }

  .search-height,
  .username-input,
  .password-input {
    font-size: 2rem;
  }

  .next {
    font-size: 2rem;
  }

  .pet-title {
    font-size: 3rem;
  }

  .card-text {
    font-size: 2rem;
  }

  .g-0 {
    margin-top: 6rem;
  }

  .justify-content {
    justify-content: end;
  }

  .fa-bars {
    font-size: 2.5rem;
  }

  .card-title {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  .card-text.text-saved {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .card-title.details-title {
    font-size: 2.5rem;
  }

  .card-text.details-text,
  .font-button {
    font-size: 1.5rem;
  }

  .text-center-mob {
    text-align: left;
  }

  .fa-heart {
    font-size: 5rem;
  }

  .fa-user-plus,
  .fa-right-to-bracket {
    font-size: 3.5rem;
  }

  .sign-up {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .title-nav,
  .find-friend {
    font-size: 3.5rem;
  }

  .fa-bars {
    font-size: 3rem;
  }
}
